<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.screening_time">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- <uses-permission android:name="android.Manifest.permission.READ_PRIVILEGED_PHONE_STATE"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW " />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SCREENING_TIME">
        <activity android:name=".Anak.Features.Menu_EditJadwal"></activity>
        <activity android:name=".Fitur.OrangTua.Laporan_Tugas" />
        <activity android:name=".Fitur.OrangTua.Tugas" />
        <activity android:name=".Fitur.OrangTua.Jadwal_Aplikasi" />
        <activity android:name=".Fitur.OrangTua.Sinkronisasi_Ponsel" />
        <activity android:name=".Fitur.OrangTua.Undang" />
        <activity android:name=".Fitur.OrangTua.Hubungi" />
        <activity android:name=".Fitur.OrangTua.Pengaturan" />
        <activity android:name=".Fitur.OrangTua.Daftar_Ponsel" />
        <activity android:name=".Fitur.OrangTua.Statistik" />
        <activity android:name=".Fitur.OrangTua.Daftar_Aplikasi" />
        <activity android:name=".Fitur.Anak.Menu_DashboarAnak" />
        <activity android:name=".Fitur.OrangTua.Menu_Dashboard" />
        <activity android:name=".Fitur.Menu_Dashboard" />
        <activity android:name=".MainActivity" />
<!--        <activity android:name=".Fitur.Menu_Login" />-->
<!--        <activity android:name=".Fitur.Menu_Register" />-->
<!--        <activity android:name=".Anak.Features.Menu_KerjakanTugas" />-->
<!--        <activity android:name=".Anak.Features.Menu_UploadTugas" />-->
        <activity android:name=".Anak.Features.Menu_Tugas" />
        <activity android:name=".Anak.Features.Menu_Profile" />
        <activity android:name=".Anak.Features.Menu_Notifikasi" />

        <service
            android:name=".Anak.Utils.AppCheckServices"
            android:exported="false" />

        <activity
            android:name=".Utils.Portrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
<!--        <activity android:name=".Anak.Features.Menu_SplashScreen">-->
        <activity
            android:name=".Anak.Features.Menu_SplashScreen"
            android:excludeFromRecents="true"
            android:label=""
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Anak.Features.Menu_PopUp"
            android:excludeFromRecents="true"
            android:label="Menu Tugas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Anak.Features.Menu_UploadTugas"
            android:excludeFromRecents="true"
            android:label="Menu Kirim Tugas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Anak.Features.Menu_KerjakanTugas"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_menu__utama"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Anak.Fragment.Menu_Utama"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_menu__utama"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Fitur.Menu_Register"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_menu__utama"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Fitur.Menu_Login"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_menu__utama"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Anak.Features.Menu_ResetPassword"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Fragment.PasswordActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Anak.Fragment.PasswordRecoverSetActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Anak.Fragment.PasswordSetActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Anak.Fragment.PasswordRecoveryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Anak.Features.Menu_RegisterPassword"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_Dashboard"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_LupaPassword"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_InputPassword"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_Masuk"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_ListSoal"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_SettingJadwal"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Features.Menu_ListAplikasi"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Anak.Fragment.SplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Anak.Features.Menu_ListJadwal"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".Anak.Features.Menu_Quiz" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.AppCompat" /> -->
        <activity
            android:name=".Anak.Features.Menu_Statistic"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
<!--        <activity-->
<!--            android:name=".Anak.Features.Menu_PopUp"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/Theme.AppCompat" />-->

        <receiver
            android:name=".Anak.Utils.BootComplete"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Anak.Utils.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>